@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
    background-color: rgb(230, 204, 255);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.heroContenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
}
label{
    margin: 1rem;
}

input{
    padding: 0.5rem ;
    border-radius: 1rem;
    cursor:pointer;
    border:  rgb(230, 204, 255);
}

button{
    color:rgb(124, 76, 169);
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 1px solid rgb(124, 76, 169);
    background-color: rgb(230, 204, 255);
    border-radius: 1.5rem;
}
